<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mehdok.wifitoggle"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/app_icon">

        <receiver android:name=".ToggleWifiWidget"
                  android:label="@string/widget_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name=".ToggleWifiWidgetLarge"
                  android:label="@string/widget_large">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_large" />
        </receiver>

        <receiver
            android:name=".ToggleWifiIntentReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.mehdok.wifitoggle.CHANGE_WIFI_STATE" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>

</manifest>
